@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to the People Application. This web application shows a simple listing and search feature.</p>

<p style="color:brown">The People Search Application</p>

<h4 style="color:blue">Business Requirements</h4>

<ul>The application accepts search input in a text box and then displays in a pleasing style a list of people where any part of their first or last name matches what was typed in the search box (displaying at least name, address, age, interests, and a picture).</ul>
<ul>Solution should either seed data or provide a way to enter new users or both</ul>
<ul>Simulate search being slow and have the UI gracefully handle the delay</ul>

<h4 style="color:blue">Technical Requirements</h4>

<ul>An ASP.NET MVC OR a WPF Application that uses the MVVM Design Pattern</ul>
<ul>If you use ASP.NET MVC then use Ajax to respond to search request (no full page refresh) using JSON for both the request and the response</ul>
<ul>Use Entity Framework Code First to talk to the database</ul>
<uL>Unit Tests for appropriate parts of the application</ul>
