@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to the People Application. This web application shows a simple listing and search feature.</p>

<h5 style="color:blue">Business Requirements</h5>

<li>The application accepts search input in a text box and then displays in a pleasing style a list of people where any part of their first or last name matches what was typed in the search box (displaying at least name, address, age, interests, and a picture).</li>
<li>Solution should either seed data or provide a way to enter new users or both</li>
<li>Simulate search being slow and have the UI gracefully handle the delay</li>

<h5 style="color:blue">Technical Requirements</h5>

<li>An ASP.NET MVC OR a WPF Application that uses the MVVM Design Pattern</li>
<li>If you use ASP.NET MVC then use Ajax to respond to search request (no full page refresh) using JSON for both the request and the response</li>
<li>Use Entity Framework Code First to talk to the database</li>
<li>Unit Tests for appropriate parts of the application</li>
